<!DOCTYPE html>
<html>
    <head>
        <link href="static/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet"> 
        <title>RemoteJa</title>
    </head>
    <body>
    <nav>
        <div id="nav-text">
            RemoteJa
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}" class="navbar-item">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('employee_signup') }}">Signup</a></li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>