{% extends "sign-log-layout.html" %}

{% block title %} 
Employee Sign Up
{% endblock %}

{% block body %}
<h1 class="sign-title">Employer Sign Up</h1>
<form action="" method="post" class="sign-form">
    {{ form.csrf_token }}
    {{form.email(placeholder="Company Email")}}
        {% if form.email.errors%}
            {%for error in form.email.errors%}
                <p class="error">*{{ error }}</p>
            {% endfor %}
        {% endif %}    
    {{form.company_name(placeholder="Company Name")}}
    {{form.password(placeholder="Password")}}
    {{form.confirm_password(placeholder="Confirm Password")}}
    <div class="terms-con">
        <input type="checkbox" name="terms" id="" value="" class="check" required>
        <label for="terms">By clicking you agree to our <a href="">terms and services</a></label>
    </div>
    <button class="btn-pink">Sign Up</button>
</form>
{% endblock %}