{% extends "sign-log-layout.html" %}

{% block title %} 
Employee Sign Up
{% endblock %}

{% block body %}
<h1 class="sign-title">Employer Sign Up</h1>
<form action="" method="post" class="sign-form">
    <input type="email" name="" id="" placeholder="Company Email">
    <input type="text" name="" id="" placeholder="Company Name">
    <input type="text" name="" id="" placeholder="Company Registration No">
    <input type="password" name="" id="" placeholder="Password">
    <input type="password" name="" id="" placeholder="Confirm Password">
    <div class="terms-con">
        <input type="checkbox" name="terms" id="" value="" class="check">
        <label for="terms">By clicking you agree to our <a href="">terms and services</a></label>
    </div>
    <button class="btn-pink">Sign Up</button>
</form>
{% endblock %}