<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="con nav-grid">
        <span class="logo"><a href="{{ url_for('index') }}">Remoteja</a></span>
        <span class="nav-links">
            <a href="{{ url_for('index') }}" class="link act-link">Home</a>
            <a href="{{ url_for('index', _anchor='about') }}" class="link">About</a>
            <a href="{{ url_for('index',_anchor='howitwrks') }}" class="link">How It Works</a>
            <a href="{{url_for('jobs')}}" class="link">Jobs</a>
        </span>
        <span class="nav-btns">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout')}}" class="btn-pink">Logout</a>
            {% else %}
                <a href="{{ url_for('login')}}" class="btn-pink">Login</a>
                <a href="{{ url_for('signup') }}" class="btn-outline">Sign Up</a>
            {% endif %}
        </span>
        <span class="nav-menu">
            <a href="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </a>
        </span>
    </nav>

    <!-- Landing Section -->
    <div class="con sec-left">
        <section id="landing">
            <h1>Don't let COVID-19 stop you from working</h1>
            <p>Are you trying to obtain employment after COVID-19? Or just seeking alternative sources of
                income? Allow RemoteJa to assist you in making your employment search easier.
            </p>
            <div class="btn-group">
                <a href="{{url_for('jobs')}}" class="btn-pink">Browse</a>
                <a href="{{url_for('upload_job')}}" class="btn-outline">Post a job</a>
            </div>
        </section>
        <div class="main-img">
            <img src="{{ url_for('static', filename = 'res/work-table.svg') }}" alt="">
        </div>
    </div>

    <!-- About Section-->
    <div class="color-con">
        <div class="con sec-right">
            <div class="main-img">
                <img src="{{ url_for('static', filename = 'res/work-remote.svg') }}" alt="">
            </div>
            <section id="about">
                <h1>About RemoteJa</h1>
                <p>Transforming obstacles into opportunities. It is this belief that forms the core of our
                    focus to deliver a solution for our citizens, we aim to enable the employers and jobseekers
                    alike to improve their success rate of finding an ideal fit. Our website is tailored to 
                    offer a wide range of employment opportunities accompanied with a detailed yet user-friendly
                    interface.
                </p>
                <div class="btn-group">
                    <a href="{{ url_for('signup') }}" class="btn-pink">Sign Up</a>
                </div>
            </section>
        </div>
    </div>
    
    <!-- How It Works Section-->
    <div class="con sec-left">
        <section id="howitwrks">
            <h1>How RemoteJa Works</h1>
            <h4>Step 1</h4>
            <p>Kick start your journey to employment by signing up.</p>
            <h4>Step 2</h4>
            <p>Filter your search details to view the most suitable vacancies for you</p>
            <h4>Step 3</h4>
            <p>Fill out the required information to apply for the job!</p>
        </section>
        <div class="main-img">
            <img src="{{ url_for('static', filename = 'res/work-resume.svg') }}" alt="">
        </div>
    </div>

    <!-- Jobs By Category -->
    <div class="color-con">
        <div class="con">
            <h1>Jobs By Category</h1>
            <div class="job-cat-group">
                {% for cat in categories %}
                <a href="{{ url_for('jobs')}}">
                    <div class="cat-con">
                        <h4>{{ cat }}</h4>
                        <p>20 Jobs Available</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div class="con newsletter">
        <h1>Newsletter</h1>
        <p>Sign up for our newsletter today!</p>
        <form action="" method="post">
            <input type="email" name="" id="" placeholder="Email">
            <button>Submit</button>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="con"></div>
    </footer>
</body>
</html>