<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="color-con">

    <!-- Navigation Bar -->
    <nav class="con nav-grid inverse">
        <span class="logo"><a href="{{ url_for('index') }}">Remoteja</a></span>
        <span class="nav-links">
        </span>
        <span class="nav-btns">
            <a href="{{ url_for('index') }}" class="link">Home</a>
            <a href="{{ url_for('jobs') }}" class="link">Jobs</a>
            {% if login %}
            <a href="{{ url_for('signup') }}" class="btn-pink">Sign Up</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn-pink">Login</a>
            {% endif%}
        </span>
    </nav>
    <div class="con-sign">
        <div class="sign-con">
            {% block body %}
            {% endblock %}
        </div>
    </div>
        
    </div>
     <!-- Footer -->
    <footer>
        <div class="con"></div>
    </footer>
</body>
</html>