<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="sign-main-con">
        <div class="color-con sign-main-con-g1">
        <div class="con">
            <span class="logo logo-inverse"><a href="">RemoteJa</a></span>
        </div>
        <div class="sign-pad">
            <div class="main-img sign-img">
                <img src="{{ url_for('static', filename = 'res/work-signup.svg') }}" alt="">
            </div>
        </div>
        </div>

        <div class="con m0 sign-main-con-g2">
            <div class="sign-nav-btns">
                <a href="{{ url_for('index') }}" class="link">Home</a>
                <a href="{{ url_for('jobs') }}" class="link">Jobs</a>
                <a href="" class="btn-pink">Login</a>
            </div>
            <div class="sign-top-btm">
                <h1>Signing up is a quick and simple process.</h1>
                <form action="" method="post" class="sign-main-form">
                    <div class="sign-check-con">
                        <input type="radio" name="terms" id="" value="" class="check">
                        <label for="terms">Employee Account</label>
                        <p>Begin  your journey to obtaining one or multiple sources of income by taking the 
                            first step with RemoteJa today. Sign up and get started today with RemoteJa.
                        </p>
                    </div>
                    <div class="sign-check-con">
                        <input type="radio" name="terms" id="" value="" class="check">
                        <label for="terms">Employer Account</label>
                        <p>RemoteJa is equipped to assist you in the growth of your organization by enabling
                            you to seek qualified individuals that may be the ideal fit for your organization.
                            Create your free account today and post a job to get started.</p>
                    </div>
                    <button class="btn-pink">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="con"></div>
    </footer>
</body>
</html>