<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>RemoteJa - Upload a Job</title>
</head>
<body>
    <nav class="con nav-grid">
        <span class="logo"><a href="{{ url_for('index') }}">Remoteja</a></span>
        <span class="nav-links">
            <a href="{{ url_for('index') }}" class="link">Home</a>
            <a href="{{url_for('jobs')}}" class="link act-link">Jobs</a>
        </span>
        <span class="nav-btns">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout')}}" class="btn-pink">Logout</a>
            {% else %}
                <a href="{{ url_for('login')}}" class="btn-pink">Login</a>
                <a href="{{ url_for('signup') }}" class="btn-outline">Sign Up</a>
            {% endif %}
        </span>
        <span class="nav-menu">
            <a href="">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </a>
        </span>
    </nav>
    <div class="con">
        
        <form action="" method="post" class="upload-form">
            {{ form.csrf_token }}
            <h2>Post a Job</h2>
            {{form.company.label}}
            {{form.company}}
            <!-- Job title -->
            {{form.job_title.label}}
            {{form.job_title}}
            <!-- Job location -->
            {{form.job_location.label}}
            {{form.job_location}}
            <!-- Job type-->
            {{form.job_type.label}}
            {{form.job_type}}
            <!-- Job category -->
            {{form.job_category.label}}
            {{form.job_category}}
            <!-- Job Description -->
            {{form.job_description.label}}
            {{form.job_description}}
            <!-- Job Additional Information -->
            {{form.additional_information.label}}
            {{form.additional_information}}
            <button class="btn-pink">Submit Job</button>
        </form>
    </div>
    
    <!-- Footer -->
    <footer>
        <div class="con"></div>
    </footer>
</body>
</html>