<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="con nav-grid">
        <span class="logo"><a href="{{ url_for('index') }}">Remoteja</a></span>
        <span class="nav-links">
            <a href="{{ url_for('index') }}" class="link act-link">Home</a>
            <a href="{{ url_for('index',_anchor='about') }}" class="link">About</a>
            <a href="{{ url_for('index', _anchor='howitwrks') }}" class="link">How It Works</a>
            <a href="{{ url_for('jobs') }}" class="link">Jobs</a>
        </span>
        <span class="nav-btns">
            <a href="{{ url_for('login')}}" class="btn-pink">Login</a>
            <a href="{{ url_for('signup') }}" class="btn-outline">Sign Up</a>
        </span>
    </nav>
    <div class="con job-info-con">
        <h2 class="job-title">Customer Representative</h2>
        <p class="company-title">Company.co</p>
        <div class="job-details">
            <p class="company-title">Kingston Jamaica</p>
            <p class="company-title">Full Time</p>
            <p class="company-title">Date Posted: May 05,2020</p>
        </div>
        <div class="btn-group">
            <a href="" class="btn-pink">Save</a>
            <a href="" class="btn-outline">Apply</a>
        </div>
        <div class="desc">
            <h3 class="desc-title">Description</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Nostrum vitae molestiae voluptates et id culpa perspiciatis, fugit quidem deleniti reiciendis vel,
                qui maxime recusandae, saepe modi mollitia nisi corrupti impedit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ad sint a unde iure non eos praesentium voluptatem qui ducimus.
                Natus sed nulla voluptatum magni inventore qui aliquam unde pariatur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ad sint a unde iure non eos praesentium voluptatem qui ducimus.
                Natus sed nulla voluptatum magni inventore qui aliquam unde pariatur!</p>
        </div>
        <div class="additional-info">
            <h4>Additional Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Dolor dolores at corrupti sunt, repellat molestias quis odit sit est blanditiis esse ut deleniti rem, 
                 ipsa sequi omnis dignissimos facere optio?</p>
        </div>
        <div class="btn-group">
            <a href="" class="btn-outline">Apply</a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="con"></div>
    </footer>
</body>
</html>